language: ruby
script: "bundle exec rspec spec -b"
env:
  - rails=3.0.0
  - rails=3.1.0
  - rails=3.2.0
  - rails=master
rvm:
  - 1.9.3
  - rbx-19mode
  - ruby-head
matrix:
matrix:
  include:
    - rvm: jruby-19mode
      env: rails=3.0.0
      jdk: openjdk6
    - rvm: jruby-19mode
      env: rails=3.1.0
      jdk: openjdk6
    - rvm: jruby-19mode
      env: rails=3.2.0
      jdk: openjdk6
    - rvm: jruby-19mode
      env: rails=master
      jdk: openjdk6
    - rvm: jruby-19mode
      env: rails=3.0.0
      jdk: openjdk7
    - rvm: jruby-19mode
      env: rails=3.1.0
      jdk: openjdk7
    - rvm: jruby-19mode
      env: rails=3.2.0
      jdk: openjdk7
    - rvm: jruby-19mode
      env: rails=master
      jdk: openjdk7
    - rvm: jruby-19mode
      env: rails=3.0.0
      jdk: oraclejdk7
    - rvm: jruby-19mode
      env: rails=3.1.0
      jdk: oraclejdk7
    - rvm: jruby-19mode
      env: rails=3.2.0
      jdk: oraclejdk7
    - rvm: jruby-19mode
      env: rails=master
      jdk: oraclejdk7
