language: ruby
script: "bundle exec rspec spec"
env:
  - rails=3.0.0 DB=sqlite
  - rails=3.0.0 DB=mysql
  - rails=3.0.0 DB=postgresql
  - rails=3.1.0 DB=sqlite
  - rails=3.1.0 DB=mysql
  - rails=3.1.0 DB=postgresql
  - rails=3.2.0 DB=sqlite
  - rails=3.2.0 DB=mysql
  - rails=3.2.0 DB=postgresql
  - rails=master DB=sqlite
  - rails=master DB=mysql
  - rails=master DB=postgresql
rvm:
  - 1.9.3
  # - rbx-19mode
  # - ruby-head
before_script:
  - sh -c "if [ '$DB' = 'postgresql' ]; then psql -c 'DROP DATABASE IF EXISTS shiva_test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'postgresql' ]; then psql -c 'create database shiva_test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS shiva_test;'; fi"
  - cp spec/database.yml.example spec/database.yml
# matrix:
#   include:
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=mysql
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=mysql
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=mysql
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=postgres
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=postgres
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=postgres
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=mysql
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=mysql
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=mysql
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=postgres
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=postgres
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=postgres
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=mysql
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=mysql
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=mysql
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=postgres
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=postgres
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=postgres
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=mysql
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=master DB=mysql
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=mysql
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=postgres
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=master DB=postgres
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=postgres
#       jdk: oraclejdk7
#   allow_failures:
#     - rvm: 1.9.3
#       env: rails=3.0.0 DB=sqlite
#     - rvm: rbx-19mode
#       env: rails=3.0.0 DB=sqlite
#     - rvm: ruby-head
#       env: rails=3.0.0 DB=sqlite
#     - rvm: 1.9.3
#       env: rails=3.1.0 DB=sqlite
#     - rvm: rbx-19mode
#       env: rails=3.1.0 DB=sqlite
#     - rvm: ruby-head
#       env: rails=3.1.0 DB=sqlite
#     - rvm: 1.9.3
#       env: rails=3.2.0 DB=sqlite
#     - rvm: rbx-19mode
#       env: rails=3.2.0 DB=sqlite
#     - rvm: ruby-head
#       env: rails=3.2.0 DB=sqlite
#     - rvm: 1.9.3
#       env: rails=master DB=sqlite
#     - rvm: rbx-19mode
#       env: rails=master DB=sqlite
#     - rvm: ruby-head
#       env: rails=master DB=sqlite
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.0.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.1.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=3.2.0 DB=sqlite
#       jdk: oraclejdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: openjdk6
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: openjdk7
#     - rvm: jruby-19mode
#       env: rails=master DB=sqlite
#       jdk: oraclejdk7
